@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "_home.scss";
@import '_game.scss';
*, *:after,*:before {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
